/* 
==========================================================================
========================================================================== 
========================================================================== 
Universal Layout
========================================================================== 
========================================================================== 
========================================================================== 
*/
*,
*::before,
*::after {
    margin: 0;
    box-sizing: border-box;
}

.full-container {
    height: 100vh;
    display: grid;
    grid-template:
    "nav nav nav nav" 1fr
    "header header header header" 1fr 
    "main main main main" 10fr
    "footer footer footer footer" 1fr
    / 1fr 1fr 1fr 1fr;
}


/* 
==========================================================================
========================================================================== 
========================================================================== 
Navbar Layout
========================================================================== 
========================================================================== 
========================================================================== 
*/
nav {
    display: flex;
    padding: 10px;
    background-color: black;
    grid-area: nav;
}

.nav-bar a:link, .nav-bar a:visited {
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    margin-left: 20px;
    margin-right: 50px;
}

.nav-bar a:hover, .nav-bar a:active {
    color: yellow;
} 

/* 
==========================================================================
========================================================================== 
========================================================================== 
Header Layout
========================================================================== 
========================================================================== 
========================================================================== 
*/

header {
    grid-area: header;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

header img {
    margin-right: 10rem;
    border-radius: 20rem;
}


/* 
==========================================================================
========================================================================== 
========================================================================== 
Main Body Layout
========================================================================== 
========================================================================== 
========================================================================== 
*/

/* main {
    grid-area: main;
    color: white;
    display: flex;
    justify-content: center;
    padding: 50px 0;
} */


/* 
==========================================================================
========================================================================== 
========================================================================== 
Footer Layout
========================================================================== 
========================================================================== 
========================================================================== 
*/

footer {
    font-size: 1.2rem;
    grid-area: footer;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    background-color: black;
}

.footer a:link, .footer a:visited {
    color: white;
    text-decoration: none;
}

.footer a:hover, .footer a:active {
    color: yellow;
}